.RPSLSPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100%;
  margin: 0 auto;
}
.RPSLSPage .banner {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 20px;
  padding: 1rem;
  margin: 3rem 0;
  width: 800px;
}
.RPSLSPage .banner h1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.RPSLSPage .banner div {
  background-color: #fff;
  color: rgb(52, 50, 50);
  width: 180px;
  height: 120px;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}
.RPSLSPage .banner div p:nth-child(2) {
  font-size: 3rem;
  margin: 5px 0;
  color: #636468;
}
.RPSLSPage .banner div p:nth-child(1) {
  font-size: 1.8rem;
  margin: 5px 0;
  color: #37499d;
}
.RPSLSPage .game_board {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  background-image: url("../../assets/bg-pentagon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.RPSLSPage .game_board div:nth-child(1) {
  position: absolute;
  top: 20px;
  right: 37%;
}
.RPSLSPage .game_board div:nth-child(2) {
  position: absolute;
  top: 130px;
  right: 0;
}
.RPSLSPage .game_board div:nth-child(3) {
  position: absolute;
  bottom: 20px;
  right: 12%;
}
.RPSLSPage .game_board div:nth-child(4) {
  position: absolute;
  bottom: 20px;
  left: 12%;
}
.RPSLSPage .game_board div:nth-child(5) {
  position: absolute;
  top: 140px;
}
.rules_btn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 120px;
  padding: 12px;
  background-color: transparent;
  border: 2px solid hsl(217, 16%, 45%);
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}
.result_board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 60%;
}
.result_board div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
  color: white;
  align-items: center;
}
.result_board .right,
.result_board .left {
  position: relative;
}

.winner::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  width: 400px;
  height: 400px;
  position: absolute;
  border-radius: 100%;
  z-index: -1;
}
.winner::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 100%;
  z-index: -1;
}
.result_board .middle button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .RPSLSPage .game_board {
    width: 100% !important;
    height: 100% !important;
  }
  .RPSLSPage .game_board div:nth-child(1) {
    position: absolute;
    top: 50px;
    right: 30%;
  }
  .RPSLSPage .game_board div:nth-child(2) {
    position: absolute;
    top: 200px;
    right: 10px;
  }
  .RPSLSPage .game_board div:nth-child(3) {
    position: absolute;
    bottom: 100px;
    right: 5%;
  }
  .RPSLSPage .game_board div:nth-child(4) {
    position: absolute;
    bottom: 100px;
    left: 5%;
  }
  .RPSLSPage .game_board div:nth-child(5) {
    position: absolute;
    top: 200px;
    left: 10px;
  }
}
