.home_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.banner {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 20px;
  padding: 4rem;
  margin: 3rem 0;
}
.rps_launch,
.rpsls_launch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: 1rem 0;
}
.rps_launch .title,
.rpsls_launch .title {
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}
.title span:nth-child(1) {
  color: #eda621;
}
.title span:nth-child(2) {
  color: #4dbcd1;
}
.title span:nth-child(3) {
  color: #8f5ce7;
}
.title span:nth-child(4) {
  color: #4dbcd1;
}
.title span:nth-child(5) {
  color: #eda621;
}
.rps_launch .icons,.rpsls_launch .icons {
  display: flex;
  justify-content: space-evenly;
}
.rps_launch button, .rpsls_launch button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  margin: 10px 0;
  cursor: pointer;
}
.seprator {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.seprator p:nth-child(1) {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: #fff;
  gap: 5px;
}
.seprator p:nth-child(2) {
  text-align: center;
  color: white;
  margin: 10px 0;
}
.seprator hr {
  flex: 1;
  height: 2px;
}
.rpsls_launch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: 1rem 0;
}
