.RPSPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100%;
  margin: 0 auto;
}
.RPSPage .banner {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 20px;
  padding: 1rem;
  margin: 3rem 0;
  width: 800px;
}
.RPSPage .banner h1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.RPSPage .banner div {
  background-color: #fff;
  color: rgb(52, 50, 50);
  width: 180px;
  height: 120px;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}
.RPSPage .banner div p:nth-child(2) {
  font-size: 3rem;
  margin: 5px 0;
  color: #636468;
}
.RPSPage .banner div p:nth-child(1) {
  font-size: 1.8rem;
  margin: 5px 0;
  color: #37499d;
}
.game_board {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  background-image: url("../../assets/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.game_board div:nth-child(1) {
  position: absolute;
  top: 20px;
}
.game_board div:nth-child(2) {
  position: absolute;
  top: 20px;
  right: 0;
}
.game_board div:nth-child(3) {
  position: absolute;
  bottom: 20px;
  right: 32%;
}
.rules_btn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 120px;
  padding: 12px;
  background-color: transparent;
  border: 2px solid hsl(217, 16%, 45%);
  color: white;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}
.result_board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 60%;
}
.result_board div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 2rem;
  color: white;
  align-items: center;
}
.result_board .right,
.result_board .left {
  position: relative;
}

.winner::after {
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  width: 400px;
  height: 400px;
  position: absolute;
  border-radius: 100%;
  z-index: -1;
}
.winner::before {
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 100%;
  z-index: -1;
}
.result_board .middle button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  color: black;
}
@media screen and (max-width: 800px) {
  .RPSPage,
  .RPSLSPage {
    width: 100% !important;
    padding: 5px !important;
    height: 100vh !important;

  }
  .RPSPage .banner,
  .RPSLSPage .banner {
    width: 90% !important;
    font-size: 10px !important;
    margin: 1rem 0 !important;
  }
  .game_board {
    width: 90%;
    height: 80%;
  }
  .game_board svg {
    scale: 0.5;
  }
  .pieceWrapper {
    border-width: 15px !important;
  }
  .game_board div:nth-child(1) {
    top: 140px;
  }
  .game_board div:nth-child(2) {
    top: 140px;
  }
  .game_board div:nth-child(3) {
    bottom: 160px;
    right: 32%;
  }
  .pieceWrapper {
    height: 120px !important;
    width: 120px !important;
  }
  .result_board div {
    font-size: 1rem !important;
  }
  .result_board {
    width: 100% !important;
    height: 70% !important;
    padding: 5px 10px;
    overflow: hidden;
    flex-wrap: wrap;
  }
  .result_board .middle {
    font-size: 1.2rem !important;
    order: 3 !important;
    flex-basis: 100%;
  }
  .result_board .middle button {
    padding: 10px !important;
    font-size: 12px !important;
  }
  .result_board .left {
    order: 1 !important;
  }
  .result_board .right {
    order: 2 !important;
  }
  .rules_btn {
    width: 80px;
    padding: 5px;
    font-size: 12px;
    bottom: 2px;
    right: 2px;
  }
}
